<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="provider-of-authcore" />
    
    <!-- dubbo接口去除注册中心，采用直连的方式  -->
   <!--  <dubbo:registry address="N/A"/> --> 
 	<!-- 使用zookeeper注册中心暴露服务地址 -->  
    <dubbo:registry address="zookeeper://localhost:2181" check="false" subscribe="false" register=""></dubbo:registry>
    <!-- 用dubbo协议定义暴露的port   --> 
    <dubbo:protocol name="dubbo" port="8071" />
    
    <dubbo:service interface="test.dubbo.service.TestRegistryService" ref="testRegistryService"/>
 
    <bean id="testRegistryService" class="test.dubbo.service.impl.TestRegistryServiceImpl" />
 
</beans>